mat-form-field.dateAdd {
  padding-top: 10px;
  display: flex;
}

mat-toolbar {
  margin-bottom: 2rem;
  padding: 0 8px;
}

.title-center {
  margin: 0 auto;
}

.hidSpacer {
  margin-left: auto;
  flex: 1;
  visibility: hidden;
}

.butAlign {
  margin-right: auto;
  flex: 1;
}

body {
  margin-bottom: 3rem;
}

.maincard {
  margin: 1rem .5rem;
}

mat-card {
  background-color: rgb(248, 252, 255);
  border-radius: 0px;
}
