<mat-toolbar color='primary'>
    <span class='text-center'>hello</span>
</mat-toolbar>

<body>
    <div class="maincard">
        <button mat-button class="mainbtn cardtext">
            <mat-card>
                <mat-grid-list cols="11" rowHeight="4.2rem">
                    <mat-grid-tile colspan="2">
                        <div class="subtext1">Current</div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1"></mat-grid-tile>
                    <mat-grid-tile colspan="4">
                        <div class="subtext2">
                            simple 2.1
                            <br> simple card 2.2
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4">
                        <div class="subtext3">
                            simple 3.1
                            <br> simple card 3.2
                            <br> simple card 3.3
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </button>
    </div>
</body>