.maincard {
    margin: 1rem .5rem;
}

.mainbtn {
    padding: 0;
    width: 100%;
    border-radius: 0px;
}

.text-center {
    margin: 0 auto;
}

.cardtext {
    text-align: left;
    line-height: 1.8rem;
}

.subtext1 {
    color: rgb(69, 84, 87);
    font-weight: bolder;
    font-size: .9rem;
}

.subtext2 {
    font-size: .8rem;
}

.subtext3 {
    color: rgb(112, 122, 124);    
    font-size: .7rem;
}

mat-card {
    background-color: rgb(248, 252, 255);
    border-radius: 0px;
}

mat-toolbar {
    margin-bottom: 2.5rem;
}
