body {
  margin-bottom: 3rem;
}

.maincard {
  margin: 1rem .5rem;
}

.mainbtn {
  padding: 0;
  width: 100%;
  border-radius: 0px;
}

.footer {
  border-top: 1px solid rgb(112, 122, 124);
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  height: 3rem;
  background-color: white;
  color: rgb(117, 117, 117);
  justify-content: space-between;
}

.cardtext {
  text-align: left;
  line-height: 1.8rem;
}

.subtext1 {
  color: rgb(69, 84, 87);
  font-weight: bolder;
  font-size: .9rem;
}

.subtext2 {
  font-size: .8rem;
}

.subtext3 {
  color: rgb(112, 122, 124);
  font-size: .7rem;
}

mat-card {
  background-color: rgb(248, 252, 255);
  border-radius: 0px;
}

mat-toolbar {
  margin-bottom: 2.5rem;
  padding: 0 8px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.caption {
  color: rgb(117, 117, 117);
  font-size: 11px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.footer .mat-button {
  line-height: 18px;
}
